/* Counters h1 */
section.normal h1 {
	counter-reset: h2counter;
}

/* Counters h2 */
section.normal h2 {
	counter-reset: h3counter;
}
section.normal h2:before {
	counter-increment: h2counter;
	content: counter(h2counter) ".\0000a0\0000a0";
}

/* Counters h3 */
section.normal h3 {
	counter-reset: h4counter;
}
section.normal h3:before {
	counter-increment: h3counter;
	content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
}

/* Counters h4 */
section.normal h4 {
	counter-reset: h5counter;
}
section.normal h4:before {
	counter-increment: h4counter;
	content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
}

/* Counters h5 */
section.normal h5 {
	counter-reset: h6counter;
}
section.normal h5:before {
	counter-increment: h5counter;
	content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}

/* Counters h6 */
section.normal h6:before {
	counter-increment: h6counter;
	content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0";
}

/* Whole page settings */
html,
body {
	font-family: "usual", sans-serif !important;
	
	/* Horizontal menu consistency */
	float: left;
	width: 100%;
}

/* Indent from horizontal menu */
.book{
	margin-top: 65px;
}
#documentation {
	height: calc(100% - 65px);
}

/* Horizontal menu */
#navigation {
  width: 100%;
  height: 65px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: 2;
  float: left;
}
#navigation .logo {
  display: block;
  height: 65px;
  width: 192px;
  float: left;
  background-size: 140px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  margin-top: 1px;
}

/* Horizontal menu - Inside: Desktop (1024px +) */
#navigation ul {
  margin: 0;
  float: none;
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: -1;
  margin-left: -29.2px;
}
#navigation ul li {
  border-right: solid 1px #e6e6e6;
  display: inline-block;
  float: none;
  margin-left: -4.2px;
  margin-right: -2px;
}
#navigation ul li:first-child {
  border-left: solid 1px #e6e6e6;
}
#navigation ul li a {
  display: block;
  height: 100%;
  overflow: hidden;
  line-height: 65px;
  font-size: 15px;
  color: #2c232c;
  text-decoration: none;
  padding: 0 30px;
  font-weight: 600;
  text-transform: uppercase;
  
  /* Override of GitBook style */
  font-family: "usual", sans-serif !important;
  letter-spacing: 0px !important;
}
#navigation ul li a:hover {
  color: #e6381c;
  cursor: pointer;
}
#navigation ul li.selected a {
  background: #f6f6f6;
  color: #222222;
}
#navigation ul li.selected a:hover {
  color: #e6381c;
}

/* Horizontal menu - Inside: Phone & Tablet */
@media only screen and (max-width: 1024px) {
  #navigation ul {
    position: absolute;
    display: none;
    margin-top: 65px;
    width: 100%;
    border-top: solid 1px #e6e6e6;
    z-index: 100;
  }
  #navigation ul li {
    width: 100%;
    border-right: none;
    border-bottom: solid 1px #e6e6e6;
    background: #ffffff;
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) and (orientation: landscape) {
  #navigation .logo {
    position: absolute;
    left: 50%;
    margin-left: -96px;
  }
}

/* Horizontal menu - Inside: Phone */
@media only screen and (max-width: 529px) {
  #navigation .logo {
    position: absolute;
    border-right: none;
    font-size: 20px;
    line-height: 60px;
    left: 50%;
    margin-left: -96px;
  }
}

/* Logo in SVG */
.icon:before {
    content:' ';
	width: 6.349em;
	height: 1.302em;
    vertical-align:middle;
    display: inline-block;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 100em 204.6em;
	background-position: 0em -191.1em;
}
/* Logo in PNG, if SVG not supported */
.no-svg .icon:before {
    background-image: url("../images/sprite.png");
}